@import "compass";
@import "compass/reset";

// colors
$gray1: #000;
$gray2: #666;
$gray3: #ddd;

//fonts
@mixin helvetica-condensed {
  font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue Bold Condensed', Helvetica, Arial, serif;
  font-stretch: condensed;
  font-weight: bold;
}

@mixin helvetica-light {
  font-family: 'Helvetica Neue Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  // font-weight: 300;
}

@mixin helvetica-bold {
  font-family: 'Helvetica Neue Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

//links
a:link,
a:active,
a:visited {
  color: #2CA4E6;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;

  &:hover {
    color: darken(#2CA4E6, 20);
    position: relative;
    top: 1px;
  }
}

//headers
h1 {
  @include helvetica-condensed;
  font-size: 32px;

  a:link,
  a:active,
  a:visited {
    color: #fff;

    &:hover {
      color: $gray2;
    }
  }
}

h2 {
  color: $gray3;
  @include helvetica-light;
  font-size: 16px;
}

code {
  font-family: monospace;
  color: $gray1;
  text-transform: uppercase;
  font-size: 13px;
  position: relative;
  background: $gray3;
  padding: 1px 4px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 18px;
  }
}

body,
input,
textarea {
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, serif;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
}

body > .upper {
  background: #000;
  padding-bottom: 30px;
}

body > .lower {
  padding-bottom: 60px;
}

@media only screen and (min-width: 768px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

// header
.row.header {
  padding: 30px 0;

  .icons {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    padding-top: 11px;
    padding-right: 30px;
    font-size: 24px;

    a {
      margin-left: 5px;
    }
  }
}

.row.intro {
  // margin-top: 30px;
  padding: 0 15px;
  line-height: 26px;
  color: $gray3;
  // text-align: center;
  font-size: 22px;
  @include helvetica-light;
  // border-top: 1px solid $gray3;
  // border-bottom: 1px solid $gray3;

  em {
    font-style: italic;
  }

  > div.photos {
    height: 200px;
    background-size: cover;
    background-position: center;
  }

  .iceland { background-image: inline-image('intro/photo1.png'); }
  .royal { background-image: inline-image('intro/photo2.png'); }
  .bike { background-image: inline-image('intro/photo3.jpg'); }
  .house { background-image: inline-image('intro/photo4.jpg'); }
}

// sections
.section-header {
  padding-top: 60px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  color: $gray1;
  text-transform: uppercase;
  // text-align: center;
  font-size: 26px;
  @include helvetica-condensed;
  border-bottom: 1px solid $gray3;
}

.row.section {
  > div {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  h3 {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 15px;
    @include helvetica-light;

    em {
      color: $gray2;
      @include helvetica-condensed;
    }

    span {
      color: $gray2;
      text-transform: uppercase;
      padding-left: 10px;
      font-size: 14px;
    }
  }

  ul.points {
    margin-left: 25px;
    list-style: disc;
    color: $gray3;
    line-height: 20px;

    span {
      color: $gray1;
    }
  }

  &.other ul.points {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .skills {
    margin-top: 15px;
    font-size: 13px;
    @include helvetica-light;
    color: darken(#e6eaed, 50);

    li {
      display: inline-block;
      padding: 4px 7px 4px;
      margin-bottom: 3px;
      background: #e6eaed;
      border-radius: 3px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
    }

    i {
      margin-left: 4px;
    }

    .featured {
      background: rgba(0, 122, 255, 0.2);
    }
  }

  .projects {
    display: none;
  //   margin-top: 15px;
  //
  //   li {
  //     display: inline-block;
  //     padding: 0 1px 0 0;
  //   //   background: #e6eaed;
  //   //   border-radius: 3px;
  //   //   text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
  //   }
  //
  //   .icon {
  //     display: block;
  //     background-repeat: no-repeat;
  //     background-size: contain;
  //     background-position: center;
  //     border-radius: 6px;
  //     width: 50px;
  //     height: 50px;
  //     box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  //   }
  //
  //   .vegandesserts { background-image: inline-image('projects/vegandesserts.png'); }
  //   .vegourmet { background-image: inline-image('projects/vegourmet.jpeg'); }
  //   .veggieweekend { background-image: inline-image('projects/veggieweekend.jpeg'); }
  //   .veggiemeals { background-image: inline-image('projects/veggiemeals.jpeg'); }
  //   .filibabasmoothies { background-image: inline-image('projects/filibabasmoothies.jpeg'); }
  //   .rms { background-image: inline-image('projects/rms.png'); }
  //
  //   .freemix { background-image: inline-image('projects/freemix.jpeg'); }
  //
  //   .senchaspace { background-image: inline-image('projects/senchaspace.jpeg'); }
  //   .extjs { background-image: inline-image('projects/extjs.png'); }
  //   .senchatouch { background-image: inline-image('projects/senchatouch.png'); }
  //   .senchacon { background-image: inline-image('projects/senchacon.jpg'); }
  //
  //   .glot { background-image: inline-image('projects/glot.png'); }
  }

  // .logo {
  //   position: relative;
  //
  //   a {
  //     position: absolute;
  //     top: 0;
  //     right: 0;
  //     bottom: 0;
  //     left: 0;
  //   }
  // }
}

@media only screen and (max-width: 768px) {
  .row.section {
    .col-sm-9 {
      padding-top: 0;
    }
  }
}

// skills
// .row.skills {
//   text-align: center;
//   font-size: 30px;
//   @include helvetica-light;
//
//   li {
//     display: inline-block;
//     background: $gray3;
//     padding: 7px 15px 9px;
//     border-radius: 10px;
//   }
// }

// companies
.col-sm-3.logo {
  background-position: center 30px;
  background-repeat: no-repeat;
}

a.col-sm-3.logo {
  transition: transform .2s;

  &:hover {
    transform: scale(0.9, 0.9);
  }
}

@media only screen and (max-width: 768px) {
  .col-sm-3.logo {
    height: 130px;
    padding: 0;
    margin-bottom: 15px;
  }
}

.dougan .col-sm-3 {
  background-image: inline-image('dougan.png');
  background-size: 130px;
}

.seeyourprogress .col-sm-3 {
  background-image: inline-image('progress.png');
  background-size: 130px;
}

.filibaba .col-sm-3 {
  background-image: inline-image('filibaba.png');
  background-size: 130px;
}

.panols .col-sm-3 {
  background-image: inline-image('panols.png');
  background-size: 130px;
}

.freemix .col-sm-3 {
  background-image: inline-image('freemix.png');
}

.sencha .col-sm-3 {
  background-image: inline-image('sencha.png');
}

.petcrate .col-sm-3 {
  background-image: inline-image('petcrate.png');
  background-size: 130px;
}

.inversion .col-sm-3 {
  background-image: inline-image('inversion.png');
  background-size: 100px;
}

.appetise .col-sm-3 {
  background-image: inline-image('appetise.png');
  background-size: 130px;
}

.kohive .col-sm-3 {
  background-image: inline-image('kohive.png');
  background-size: 90px;
}

.about .col-sm-3 {
  background-image: inline-image('about.jpg');
  background-size: 170px;
}

.glot .col-sm-3 {
  background-image: inline-image('glot.png');
  background-size: 90px;
}

.row.section.about .logo {
  padding: 0;
  background-position: center;
}

// footer
.footer {
  padding-top: 30px;
  font-size: 12px;
  text-align: center;
  color: $gray3;

  a {
    display: inline-block;
    padding: 0 7px;
  }

  a:link,
  a:active,
  a:visited {
    color: $gray2;

    &:hover {
      color: $gray1;
    }
  }
}

// // tooltips
// [data-note] {
//   position: relative;
// }
//
// [data-note]:before,
// [data-note]:after {
//   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
//   filter: alpha(opacity=0);
//   -khtml-opacity: 0;
//   -moz-opacity: 0;
//   opacity: 0;
//   pointer-events: none;
//   -webkit-transition: opacity 0.17s ease-out;
//   transition: opacity 0.17s ease-out;
//   bottom: 100%;
//   position: absolute;
//   z-index: 10;
//   -webkit-transform-origin: top;
//   -ms-transform-origin: top;
//   transform-origin: top;
//   bottom: auto;
//   left: 50%;
//   top: 100%;
//   -webkit-transform: translate(-50%, 0);
//   -ms-transform: translate(-50%, 0);
//   transform: translate(-50%, 0);
// }
//
// [data-note]:after {
//   background: rgba(17, 17, 17, 0.9);
//   border-radius: 4px;
//   color: #fff;
//   content: attr(data-note);
//   font-size: 12px;
//   padding: 5px 7px;
//   white-space: nowrap;
//   margin-bottom: 11px;
//   margin-top: 11px;
// }
//
// [data-note]:before {
//   background-size: 100% auto;
//   height: 6px;
//   width: 18px;
//   content: "";
//   background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36px" height="12px"><path fill="rgba(17, 17, 17, 0.9)" transform="rotate(180 18 6)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>') no-repeat;
//   background-size: 100% auto;
//   margin-top: 5px;
//   margin-bottom: 0;
// }
//
// [data-note]:hover:before,
// [data-note]:hover:after {
//   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
//   filter: alpha(opacity=100);
//   -khtml-opacity: 1;
//   -moz-opacity: 1;
//   opacity: 1;
//   pointer-events: auto;
//   -webkit-transform: translate(-50%, 1px);
//   -ms-transform: translate(-50%, 1px);
//   transform: translate(-50%, 1px);
// }
