<% @posts.each do |post| %>
    <section class="post index">
        <header>
            <h2><%= link_to post.name, { :controller => 'posts', :action => 'show', :permalink => post.permalink } %></h2>
            <p><%= post.created_at.strftime("%d/%m/%Y") %></p>
        </header>
    </section>

<% end %>