<%= javascript_include_tag 'post' %>

<aside class="contents">
    <ul>

    </ul>
</aside>

<%= render :partial => 'post', :locals => { :post => @post } %>

<footer>
    <div class="fb-like" data-send="false" data-width="278" data-show-faces="false"></div>

    <a href="https://twitter.com/share" class="twitter-share-button" data-via="rdougan" data-lang="en">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</footer>

<div class="fb-comments" data-num-posts="10" data-width="700" href="<%= request.protocol + request.host + request.fullpath %>"></div>
