body.admin {
    > header,
    > footer,
    section.body {
        margin: 0 0 0 20px;
    }

    overflow: hidden;
}

input, textarea {
    margin: 0;
    border: 0;
    padding: 0;
}

section.form {
    p {
        width: 100%;

        &:first-child,
        &:last-child {
            height: 42px;
        }

        &:last-child {
            margin-bottom: 30px;
        }
    }

    input[type=text],
    textarea {
        border: 0;
        color: #666;
        background: #eee;
        padding: 10px;
        font-size: 18px;
        outline: none;

        &:focus {
            color: #111;
        }
    }

    textarea {
        height: 400px;
        width: 680px;
        margin-top: 5px;
        font-size: 13px;
    }

    input[type=text], input[type=checkbox] {
        float: left;
    }

    input[type=text] {
        width: 633px;
        margin-right:5px;
    }

    input[type=checkbox] {
        -khtml-appearance: none;
        width: 42px;
        height: 42px;
        background: #eee;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: url(/assets/published.png) no-repeat center;
            background-size: 70% 70%;
            opacity: .1;
        }

        &:checked {
            &:before {
                opacity: 1;
            }
        }
    }

    input[type=submit] {
        width: 700px;
        margin-top: 5px;
        height: 42px;
        background: #eee;
        padding: 10px;
        font-weight: bold;
        font-size: 18px;
        float: left;
    }
}

#notes-preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 740px;
    right: 0;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 20px;
    max-width: 700px;

    &:before {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 740px;
        background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255,255,255,.8)), color-stop(1, rgba(255,255,255,.0)));
    }
}

