@import "compass";

$helvetica-condensed-bold: 'HelveticaNeue-CondensedBold', 'Helvetica Neue Bold Condensed', Helvetica, Arial, serif;

$post-margin: 20px;
$post-background-color: #E7E7E7;

a:link,
a:active,
a:visited {
    color: #5f9ec3;
    text-decoration: none;
    @include single-transition(color, .2s);

    &:hover {
        color: darken(#5f9ec3, 20);
    }
}

body {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    background: url(../images/background.png);

    > * {
        width: 600px;
        margin: 0 auto;
    }

    > header {
        h1 {
            font-family: $helvetica-condensed-bold;
            font-size: 40px;
            font-stretch: condensed;
            font-weight: bold;
            padding: 0;
            margin: 0;

            a:link,
            a:active,
            a:visited {
                color: #000;

                &:hover {
                    color: #444;
                }
            }
        }

        h2 {
            font-size: 15px;
            color: #333;
            font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 300;
            margin: 0;
        }

        aside {
            font-size: 0;

            div {
                display: inline-block;
                width: 95px;
                height: 30px;
                background: #ccc;
                margin-right: 5px;
            }
        }

        padding: 70px 0;
    }

    > footer {
        text-align: center;
        color: #aaa;
        font-size: 14px;
        margin: 70px auto;
    }
}

section.post {
    margin: 0 0 50px 0;
    min-height: 12px;
    text-shadow: 0 1px 0 white;

    header {
        position: relative;

        h2 {
            margin: 0;
            font-family: $helvetica-condensed-bold;
            font-size: 28px;
            font-weight: bold;
            line-height: 20px;
            height: 36px;

            a:link,
            a:active,
            a:visited {
                color: #888;

                &:hover {
                    color: #666;
                }
            }
        }

        p {
            width: 100px;
            position: absolute;
            top: 0px;
            left: -110px;

            color: #aaa;
            font-size: 14px;
            font-weight: normal;
            text-align: right;
        }
    }

    p,
    ul {
        margin: 0 0 $post-margin 0;
        font-size: 17px;
        line-height: 30px;
        color: #333;
        font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 300;

        code {
            padding: 3px 5px;
            background: #edf8ff;
            font-size: 15px;
        }

        strong {
            font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
            font-weight: bold;
        }
    }

    ul {
        padding-left: 25px;
    }

    blockquote {
        border-left: 2px solid $post-background-color;
        padding-left: 10px;
        font-weight: bold;
        background: lighten($post-background-color, 7);

        p {
            color: #777;
        }
    }

    pre {
        margin: 0 0 $post-margin 0;
        padding: 10px;
        background: #edf8ff;
        overflow: auto;
    }

    > * {
        &:last-child {
            margin-bottom: 0;
        }
    }
}