/**
 * Responsive shit for smaller devices and phones
 */

@media screen and (min-width: 880px) {
    section.post header p {
        width: 100px;
        position: absolute;
        bottom: 0px;
        left: -110px;
        margin: 0;
        line-height: 20px;
    }
}

@media screen and (max-width: 720px) {
    body {
        padding: 0 10px;
    }
}

@media screen and (max-width: 880px) {
    section.post header h2 {
        display: inline;
    }

    .fb-like,
    .fb-comments iframe {
        overflow: hidden;
        width: 100% !important;
    }
}

//iphone
@media only screen and (max-device-width: 480px) {
    body {
        > header {
            padding: 30px 0 !important;
        }

        > footer {
            margin: 30px auto;
        }
    }

    section.post header {
        h2 {
            font-size: 24px;
        }

        p {
            display: block;
            text-align: left;
        }
    }

    section footer {
        position: relative;

        > iframe {
            position: relative;
            top: auto;
            right: auto;
            width: auto;
            margin: -10px 0 10px 0;
        }

        .fb-like {
            width: 100%;
        }
    }
}

// hide contents list on smaller screens
@media screen and (max-width: 1195px) {
    aside.contents {
        opacity: 0;
    }
}
